body {
    font: 400 0.875rem/1.43 "Roboto", sans-serif !important;
    margin: 0;
    background: #d9e0e7;
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: normal;
    min-width: 320px;
    position: relative;
}
#wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.container {
    max-width: 1170px !important;
    padding: 0 15px;
}
.container,
[class^="col-"] {
    padding-right: 10px;
    padding-left: 10px;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}

ol,
ul {
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    margin: 0;
    font-size: 16px;
}
blockquote,
q {
    quotes: none;
}
a {
    font-size: 0.875rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    color: #169d9c;
    text-transform: capitalize;
    transition: all 0.6s;
}
a:hover {
    text-decoration: none;
    color: #26254c;
}
a:focus,
button:focus {
    outline: none !important;
}
label {
    font-size: 13px;
    font-weight: 600;
    color: #9fa4af;
    letter-spacing: 1px;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
p {
    margin: 0 0 15px;
    letter-spacing: 1px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
sup {
    font-size: 0.83em;
    line-height: 0;
    vertical-align: super;
}
sub {
    font-size: 0.83em;
    line-height: 0;
    vertical-align: sub;
}
b,
strong {
    font-weight: bold;
}
i,
em {
    font-style: italic;
}
figure {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
form {
    margin: 0;
}
button,
button:hover,
button:focus,
button:active,
.slick-slide,
.navbar,
.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none;
}
/* CTA */
.btn {
    position: relative;
    z-index: 1;
    background-color: #169d9c;
    padding: 6px 16px;
    color: #fff;
    font: 400 14px/26px "Roboto", sans-serif !important;
    border-radius: 0;
    letter-spacing: normal;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.3s;
    min-width: 175px;
    border: none;
}
.btn:hover,
.btn:focus,
.btn:active {
    background: #26254c;
    color: #fff !important;
}
.btn:focus {
    box-shadow: none;
}

::-moz-selection {
    color: #fff;
    background: #33bcbc;
}
::selection {
    color: #fff;
    background: #33bcbc;
}
textarea {
    resize: none;
    clear: both;
    min-height: 200px;
    max-height: 200px;
    height: 200px;
}
input,
textarea,
select {
    font-family: "Roboto", sans-serif !important;
    font-weight: 500;
    border: 1px solid #ddd;
}
.form-control {
    border-color: #ebecf1;
    height: 44px;
    color: #169d9c;
    font-weight: 300;
    padding: 5px 15px;
}
input.form-control:focus {
    box-shadow: none;
    border: 1px solid #169d9c !important;
}
input.form-control:hover {
    border-color: #169d9c;
}
::-webkit-input-placeholder {
    color: #a3a3a3 !important;
}
::-moz-placeholder {
    color: #a3a3a3 !important;
}
:-ms-input-placeholder {
    color: #a3a3a3 !important;
}
:-moz-placeholder {
    color: #a3a3a3 !important;
}

/* Log-in CSS */
.login-block {
    background: #f2f3f8;
}
.login-block .img-content-block {
    background: url(../images/login.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.login-block .login-inner-block {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}
.login-block .main-login-block .submit-button .btn {
    min-width: 143px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px !important;
}
.login-block .custom-row {
    transition: all 0.6s;
}
.login-block .img-content-block h1 {
    max-width: 350px;
    margin: 0 auto;
    background: #000;
    opacity: 0.8;
    text-align: center;
    font-size: 50px;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    padding: 20px;
}
.login-block .login-block h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 0 0 7px;
    text-transform: capitalize;
    font-weight: 400;
}
.login-block .main-login-block form {
    margin-top: 20px;
}
.login-block .copyright-block {
    font-size: 12px;
    color: #878785;
    line-height: normal;
    font-weight: 300;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 0;
}
.login-block .main-login-block {
    padding: 150px 0 100px;
}
.login-block .custom-control-label {
    font-weight: 400;
}
.login-block .logo {
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 999;
    max-width: 150px;
    right: 0;
}
.main-login-block .logo {
    margin: 0 0 100px;
}
.main-login-block h2 {
    color: #26254c;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}
.login-block .main-login-block span {
    color: #878785;
    font-weight: 300;
    font-size: 16px;
    display: block;
    line-height: 30px;
}
.login-block .main-login-block .login-signup span {
    color: #8e8e8d;
    font-weight: 300;
}
.login-block .main-login-block .login-signup span a {
    font-weight: 300;
}
.login-block .main-login-block .submit-button {
    margin-top: 35px;
}
ul.social-media li a {
    font-size: 20px;
    line-height: normal;
    color: #b4b0b0;
}
ul.social-media li a:hover {
    color: #169d9c;
}
ul.social-media li + li {
    margin-left: 20px;
}
.login-icons {
    padding-bottom: 80px;
}
.login-icons li a {
    display: block;
    padding: 25px;
    background: rgba(5, 21, 21, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    margin: 0 5px 10px;
}
.login-icons li a:hover {
    background: rgba(5, 21, 21, 0.7);
}
.login-icons li img {
    max-width: 75%;
    margin: 0 auto 20px;
}
.login-icons li span {
    font-size: 18px;
    line-height: 20px;
}
.login-block .field-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    margin: 0 !important;
}
.forgot-password a {
    font-weight: 300;
}

.main-portion {
    min-height: calc(100vh - 70px) !important;
    display: flex;
    flex-direction: column;
}
.title-block {
    padding: 26px 0;
}
.btn-set li + li {
    margin-left: 7px;
}
.title-block h5 {
    font-size: 24px;
    line-height: 30px;
}
.btn-set li a i {
    display: none;
}
#footer {
    padding: 10px 0;
    margin: auto 0 0;
}
#footer p {
    font-size: 14px;
    color: #878785;
    margin: 0;
    font-weight: 300;
}

/* User Data Tabs CSS */
.user-data-tab {
    padding: 28px 15px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(3, 3, 3, 0.05);
    -moz-box-shadow: 1px 1px 5px 0px rgba(3, 3, 3, 0.05);
    box-shadow: 1px 1px 5px 0px rgba(3, 3, 3, 0.05);
}
.nav-tabs {
    border-bottom: 0;
}
.nav-tabs .nav-item {
    color: #82818d;
    font-size: 14px;
    line-height: normal;
    border: 0;
    margin: 0 0 -1px;
    border-bottom: 3px solid transparent;
    padding: 0 7px 25px;
    border-radius: 0;
    -ms-flex: inherit;
    flex: inherit;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #169d9c;
    background-color: #fff;
    border-color: #169d9c;
    font-weight: 500;
}
.table td,
.table th {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
.table thead th {
    border-bottom: 1px solid #dee2e6;
}
.table thead th {
    text-align: center;
    border-bottom: 1px solid #dee2e6;
    background: #f7fdff;
    color: #169d9c;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}
.table thead th:nth-child(2),
.table td:nth-child(2) {
    text-align: left;
}
.table td {
    text-align: center;
}
.custom-control-input:checked ~ .custom-control-label:before {
    color: #fff;
    border-color: #33bcbc;
    background-color: #33bcbc;
}
.custom-control-label:after {
    top: 0.14rem;
    left: -26px;
    width: 20px;
    height: 20px;
}
table .badge,
.badge:empty {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100px;
    vertical-align: middle;
}
table .success {
    background: #169d9c;
}
table .warning {
    background: #ee5253;
}
tr td span {
    color: #8c8b96;
    font-weight: 300;
}
tr td .btn {
    background: transparent;
    color: #8493a5;
    border: 1px solid #d3d6da;
    font-weight: 300 !important;
    padding: 4px 22px;
}
tr td .btn:hover {
    background: #169d9c;
    border-color: #169d9c;
}
table tr:hover {
    background-color: #f7fdff;
}
.content-show-per-page p {
    font-weight: 300;
}

/* Media */
@media (min-width: 767.98px) {
    .btn-set li a i {
        display: inline-block;
        vertical-align: middle;
    }
    .nav-tabs .nav-item {
        padding-left: 15px;
        padding-right: 15px;
    }
    .user-data-tab {
        padding-left: 46px;
        padding-right: 46px;
    }
    .nav-tabs {
        padding: 0 15px;
    }
}
/* Media */
@media (min-width: 991.98px) {
    .main-portion {
        padding: 0 50px;
    }
}

/* Media */
@media (min-width: 767.98px) {
    .login-block .custom-row {
        height: 100vh;
    }
    .login-block .main-login-block .login-signup span {
        margin-left: 20px;
    }
}
@media (min-width: 1439.98px) {
    .login-icons li a {
        margin: 0 10px 20px;
    }
}
