{# templates/base.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
<style type="text/css">
/* TO DISPLAY MIDDLE OF SCREEN  */
html, body, .container.login-in-content, .row{height: 100%;}
</style>
{% endblock %}

{% block body %}

<div class="container login-in-content">
    <div class="row">
        <div class="col align-self-start"></div>
        <div class="col-4 align-self-center">
            <h1>Register</h1>
            <form name="signup" method="POST" action="" >
                <div class="form-group">
                    <label id="first_name">First Name</label>
                    <input class="form-control"  for="first_name" type="text" name="first_name" />
                </div>
                <div class="form-group">
                    <label id="last_name">Last Name</label>
                    <input class="form-control" for="last_name" type="text" name="last_name" />
                </div>
                <div class="form-group">
                    <label id="email">Email</label>
                    <input class="form-control" for="email" type="email" name="email" />
                </div>
                <div class="form-group">
                    <label id="password">Password:</label>
                    <input class="form-control" for="password" type="password" name="password" />
                </div>
                <button class="btn btn-primary float-right">Sign up</button>
                <a href="{{ path('login') }}" class="btn btn-info float-left">Login</a>
            </form>
        </div>
        <div class="col align-self-end"></div>
    </div>
</div>
{% endblock %}