{# templates/base.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
<style type="text/css">
    /* TO DISPLAY MIDDLE OF SCREEN  */
    html, body, .container.login-in-content, .row{height: 100%;}
</style>
{% endblock %}

{% block body %}

<div class="container login-in-content">
    <div class="row">
        <div class="col align-self-start"></div>
        <div class="col-4 align-self-center">
            <h1>Login</h1>
            <form name="login" method="POST" action="" >

                <div class="form-group">
                    <label id="email">Email</label>
                    <input class="form-control" for="email" type="text" name="email" />
                </div>

                <div class="form-group">
                    <label id="password">Password:</label>
                    <input class="form-control" for="password" type="password" name="password" />
                </div>
                <button class="btn btn-primary float-right">Login</button>
                <a href="{{ path('sign_up') }}" class="btn btn-info float-left">Sign Up</a>
            </form>
        </div>
        <div class="col align-self-end"></div>
    </div>
</div>
{% endblock %}