{# templates/base.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="container">
            <h1><u>Welcome</u></h1>
        </div>
    </div>
</div>
{% endblock %}